.main {
  padding-top: 87px;
  margin: 0 auto;
}

.main > #movie {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
}

.section h2 {
  padding: 90px 0 40px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 300;
  letter-spacing: -0.45px;
}
