.footer {
  color: #fff;
  background: #222;
}

.footer > div {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 40px 60px;
  overflow: hidden;
  clear: both;
}

.footer--icons {
  overflow: hidden;
}

.footer--icons li {
  float: left;
}

.facebook--icon {
  width: 33px;
  height: 28px;
  margin: 20px 0 0 0px;
  background: url(../../assets/kukka.png) -42px 69px;
  cursor: pointer;
}

.instagram--icon {
  width: 33px;
  height: 33px;
  margin: 18px 0 0 20px;
  background: url(../../assets/kukka.png) 38px -437px;
  cursor: pointer;
}

.youtube--icon {
  width: 33px;
  height: 30px;
  margin: 20px 0 0 20px;
  background: url(../../assets/kukka.png) -1163px 161px;
  cursor: pointer;
}

.footer--service {
  margin-top: 14px;
  float: left;
}

.footer--service dt {
  float: left;
}

.footer--service--title {
  margin-right: 15px;
  font-size: 22px;
  color: #f7f7f7;
}

.footer--service--contents {
  font-size: 14px;
  line-height: 33px;
  color: #9b9b9b;
}

.footer--service--contents.mobile {
  display: block;
}

.footer--service dd {
  margin-bottom: 20px;
  font-size: 14px;
  padding: 5px 0 0;
  float: none;
  clear: both;
}

.service-btn {
  display: block;
  float: left;
  padding: 10px 20px;
  margin: 10px 0 0 15px;
  border-radius: 18px;
  font-size: 13px;
  color: #fff;
  border: #9b9b9b 1px solid;
}

.service-btn.mobile {
  margin: 0;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  left: 10px;
}

.footer--about {
  clear: both;
  padding: 25px 0 0;
  margin-top: 20px;
  border-top: #787878 1px solid;
}

.footer--about dd {
  display: inline-block;
  font-size: 14px;
  color: #d3d3d3;
}

.footer--about dd.end {
  margin-right: 0;
}

.footer--about dt {
  position: absolute;
  top: 57px;
  right: 62px;
  width: 150px;
  height: 63px;
  text-indent: -9999px;
  background: url(../../assets/kukka.png) 0 234px;
}

.footer--terms.mobile {
  display: block;
  position: unset;
  margin: 30px 0 30px 0;
}

.footer--terms {
  position: absolute;
  bottom: 37px;
  right: 42px;
}

.footer--terms li {
  float: left;
  font-size: 14px;
  margin-right: 20px;
}

.footer--terms li a {
  text-decoration: none;
  color: #fff;
}
